.h1 {
    font-size: 3rem;
    padding-top: 15px;
}
.jamm {
    color: darkblue;
}

.searchTitle {
    font-size: 1.5rem;
}
.searchBox {
    text-align: center;
    margin-bottom: 80px;
}

.searchForm {
    padding: 15px 80px;
    border-radius: 8px;
    margin-top: 5px;
    border: none;
}

.submit {
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 1.1rem; 
}

.submit:hover {
    background-color: blueviolet;
    font-size: 1.3rem;
}
