
body {
    background-color: hsl(271, 91%, 37%);
}

html{
    font-size: 16px;
}
.searchBox {
    text-align:'center';
}

h1 {
    font-size: 3rem;
}

form label {
    font-size: 1.5rem;
}

input[type='search'] {
     padding: 15px 80px;
     border-radius: 8px;
     margin-top: 5px;
     border: none;
}

input[type='submit'] {
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 1.1rem; 

}

input[type='submit']:hover {
    background-color: blueviolet;
    font-size: 1.3rem;
}

.musicBox {
    display:'flex';
    justify-content:'space-around';
    margin-top: 30px;
    border: 1px solid black;
}

.results , .save{
    border: 1px solid black;
    padding: 30px;
}